.range_input::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  border: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
.range_input {
  margin: 0;
  appearance: none;
  width: 247px;
  border-radius: 15px;
}
.range_input::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #007aff;
  border-radius: 15px;
  cursor: pointer;
}
.range_input:focus {
  outline: none;
}
.range_wrapper {
  position: relative;
  display: inline;
  margin: 30px;

  appearance: none;
}
.range_number {
  position: absolute;
  pointer-events: none;
  top: 7%;
  left: 4.5%;
}
.range_element {
  display: flex;
  justify-content: space-around;
  margin: 8px 0px;
}
.range_component {
  width: fit-content;
}
