.search {
  width: 113px;
  border: 0;
  background: #f2f2f7;
  border-radius: 8px;
  padding: 11px 103px 11px 127px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.search_sign {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 103px;
  filter: brightness(0) saturate(100%) invert(87%) sepia(31%) saturate(26%)
    hue-rotate(315deg) brightness(87%) contrast(91%);
}
.search_wrap {
  display: inline;
  position: relative;
}
.search.focused {
  width: 263px;
  padding: 11px 40px;
  outline: none;
}
.search.focused::placeholder {
  color: #000000;
}
.search.focused ~ .search_sign {
  filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(16%)
    hue-rotate(5deg) brightness(102%) contrast(100%);
  position: absolute;
  left: 18px;
}

.close_button {
  display: none;
  padding: 0;
  border: 0;
  position: absolute;
  cursor: pointer;
  top: -1px;
  right: 12px;
}
.search.focused ~ .close_button {
  display: block;
}
